@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
}

body {
  @apply bg-white text-black;
}

.dark body {
  @apply bg-gray-900 text-white;
}